<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>dashboard</mat-icon> <span class="nav-caption">Dashboard</span>
  </a>
  <a mat-list-item routerLink="/score-tracker" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>sports_rugby</mat-icon> <span class="nav-caption">Score Tracker</span>
  </a>
  <a mat-list-item routerLink="/calendar" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>calendar_today</mat-icon><span class="nav-caption">Match Calendar</span>
  </a>
</mat-nav-list>