<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active" (click)="onSidenavClose()">
    <i class="fa-solid fa-gauge-high"></i> <span class="nav-caption">Dashboard</span>
  </a>
  <a mat-list-item routerLink="/score-tracker" routerLinkActive="active" (click)="onSidenavClose()">
    <i class="fa-solid fa-football fa-sm"></i> <span class="nav-caption">Score Tracker</span>
  </a>
  <a mat-list-item routerLink="/calendar" routerLinkActive="active" (click)="onSidenavClose()">
    <i class="fa-solid fa-calendar-days"></i><span class="nav-caption">Match Calendar</span>
  </a>
</mat-nav-list>