

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

mat-card {
  width: 100%;
  max-width: 600px;
  margin: 1rem 0;
  padding: 1rem;
}

mat-form-field {
  width: 100%;
}

@media (max-width: 600px) {
  .inline-calendar-card {
    width: 100%;
  }

  mat-card {
    padding: 0.5rem;
  }

  mat-form-field {
    margin-bottom: 1rem;
  }
}
